[mysqld]
basedir=/usr/local/mysql
datadir=/usr/local/mysql/data
socket=/tmp/mysql.sock
user=mysql
port=3306
bind_address=0.0.0.0
pid_file=/usr/local/mysql/data/mysqld.pid

# 일반 로그 파일
general_log=0
general_log_file=/usr/local/mysql/log/general.log
# 에러 로그 파일
log_error_verbosity=0
log_error=/usr/local/mysql/log/error.log
# 느린 쿼리 로그 파일
slow_launch_time=5
slow_query_log_file=/usr/local/mysql/log/slow_query.log

# 기본 문자 집합
character-set-server=utf8mb4
# 기본 collation
collation-server=utf8mb4_unicode_ci
