[mysqld]
# 데이터 디렉토리
datadir=/var/lib/mysql
# MySQL 서버 소켓 파일
socket=/tmp/mysql.sock
# MySQL 서버 포트 번호
port=3306

# 일반 로그 파일
general_log=1
general_log_file=/var/log/mysql/general.log
# 에러 로그 파일
log-error=/var/log/mysql/error.log
# 느린 쿼리 로그 파일
slow-query-log=/var/log/mysql/slow_query.log

# InnoDB 버퍼 풀 크기 (1GB)
innodb_buffer_pool_size=1G
# 최대 허용 연결 수 (100개)
max_connections=100
# 스레드 풀 크기 (10개)
thread_pool_size=10
# 쿼리 캐시 크기 (256MB)
query_cache_size=256M
# 기본 문자 집합
character-set-server=utf8mb4
# 기본 collation
collation-server=utf8mb4_unicode_ci
